@charset "UTF-8";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #000000, #434343);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.login-box h2 {
  color: #fff;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #fff;
}

.form-control {
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
}

.form-control:focus {
  border-color: #ff0043;
  box-shadow: none;
}

.btn-primary {
  background: #ff0043;
  border: none;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: #e60039;
}

#message {
  margin-top: 20px;
  color: #fff;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

